<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<title>Evernote OAuth Test</title>
	<meta name="description" content="">
	<base href="/">

	<!-- for mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1>Evernote OAuth Test</h1>
<h2>Info</h2>
<ul>
	<li>User: {{ username }}</li>
	<li>user id: {{ edam_userId }}</li>
</ul>

<h2>Notebooks</h2>
<ul>
{% for notebook in notebooks %}
	<li>{{ notebook.name }}{% if notebook.defaultNotebook %} (default){% endif %}</li>
{% endfor %}
</ul>

<h2>Notes in Default Notebook</h2>
<ol>
{% for title in notes %}
<li>{{ title }}</li>
{% endfor %}
</ol>
</body>

</html>